<meta http-equiv="Access-Control-Allow-Origin" content="*">

<style>
    body{
        /* margin: 0;
        padding: 0;
        background-color: black; */
        overflow: hidden;
    }
</style>


<script src="lib/phaser.min.js"></script>
<script src="main.js"></script>