<style>
    body{
        /* margin: 0;
        padding: 0;
        background-color: black; */
        overflow: hidden;
    }
</style>

<script src="https://tecsup.instructure.com/courses/5461/files/774131/download"></script>
<script src="https://tecsup.instructure.com/courses/5461/files/774129/download"></script>